<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZenPlaces</title>
    <!-- link de esta vista -->
    <link rel="stylesheet" href="/stylesheets/editPlace.css">
     <!-- mi link general de css -->
     <link rel="stylesheet" href="/stylesheets/general.css">
    <!-- Link de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- link de font awesome -->
    <script src="https://kit.fontawesome.com/3947aef1e2.js" crossorigin="anonymous"></script>
  </head>
  <body class="container-fluid">

    <%- include('navbar') %>

    <!-- Sección del Formulario de creación del lugar de interés -->

    <section class="row section-form bg-section-form">
      <div class="col-12 main-beige-text">
        <form
        action="/places/editPlace/<%= result[0].id_place %>"
        method="post"
        class="formulario"
        >
          <div class="mb-3">
            <label for="place_name" class="form-label">Nuevo nombre del lugar de interés</label>
            <input
            type="text"
            class="form-control"
            id="place_name"
            value="<%= result[0].place_name %>"
            name="place_name"
            >
        
          </div>
         
          <div class="mb-3">
            <label for="address" class="form-label">Calle del lugar de interés</label>
            <input
            type="text"
            class="form-control"
            id="address"
            value="<%= result[0].address %>"
            name="address"
            >
          </div>
          
          <div>
            <h5 class="msg"><%= typeof message != 'undefined' ? message : null %></h5>
          </div>
          <button type="submit" class="boton">Aceptar cambios</button>
        </form>
      </div>
      
    </section>



    <%- include('footer') %>