<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZenPlaces</title>
    <!-- mi link general de css -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <!-- Link de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- link de font awesome -->
    <script src="https://kit.fontawesome.com/3947aef1e2.js" crossorigin="anonymous"></script>
  </head>
  <body class="container-fluid">

<%- include('navbar') %>

<!-- Sección 1: Presentación de la web -->
<section class="row section-index bg-main">
  <div class="col-12 text-center">
    <h1 class="main-black-text pe-3">Zen<span class="main-beige-text">Places</span></h1>
    <h2 class="pad-item main-beige-text">Welcome</h2>
  </div>
</section>

<!-- Sección 2: Vista de las localidades -->
<section class="row section-towns main-blue">
  <div class="col-12 text-center">
    <h2 class="main-beige-text">Descubre nuestra selección de localidades</h2>
  </div>
  <% result.forEach(( town ) => { %>
  <div class="col-12 col-md-6 col-xl-3 p-5 mx-auto">
    
      <div class="foto mx-auto" style="width: 18rem;">
    
          <a href="/towns/oneTown/<%= town.id_town %>">
            <img src="/images/towns/<%= town.town_img %>" alt="...">
            <h4 class="text-center pt-3"><%= town.town_name %></h4>
          </a>
        
      </div>
    
  </div>
  <% }) %>
</section>
<!-- Sección explicativa del propósito de la web -->
<section class="row section-intro bg-intro main-beige-text">
  
  <div class="col-12">
    <h3 class="pb-3">Nuestro objetivo:</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi hic quod laudantium quas iusto, et eligendi optio perspiciatis exercitationem debitis. Delectus impedit omnis earum, mollitia totam temporibus quos voluptatem officiis at, incidunt assumenda fuga. Officiis et blanditiis laborum iure ad ipsa, laudantium exercitationem, dolores enim non sapiente labore optio corrupti.</p>
  </div>
</section>


<%- include('footer') %>
